@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.loginContainer {
  background-color: rgba(0, 0, 0, 0.9);
  height: 800px;
  width: 500px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /*
  background-image: url(logo2.png);
  background-size: cover;
  background-position: bottom -2750px right -200px;
  */
}

.loginText h1 {
  margin-top: 20px;
  color: white;
  font-size: 80px;
  font-weight: 500;
  font-family: Mogra;
}

.loginText p {
  color: white;
  font-size: 20px;
  font-family: Roboto Slab;
  margin-top: 20px;
}

.loginText input {
  color: rgb(20, 19, 19);
  font-family: Roboto Slab;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.makeTxt {
  margin: 0px;
  font-family: "Roboto";
  text-align: center;
  z-index: 2;
  position: relative;
  margin-left: -520px;
  margin-top: 20px;
}

#container {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  position: fixed;
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.addIcon {
  position: fixed;
  right: 50%;
  z-index: 2;
}

.userName {
  text-transform: uppercase;
  width: 120px;
  font-size: 20px;
  font-family: Roboto Slab;
}

/* Scroll bar */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/**Edit Post Icon**/
.profile-pic {
  position: relative;
  display: inline-block;
}

.profile-pic:hover .edit {
  display: flex;
}

.edit {
  padding-top: 16px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.edit a {
  color: #000;
}

/**Delete Post Icon **/
.profile-pic:hover .delete {
  display: flex;
}

.delete {
  padding-top: 16px;
  position: absolute;
  right: 1030px;
  top: 0;
  display: none;
}

.delete a {
  color: #000;
}

/**Disable textarea for NON-Loggedin users**/

/**Disable textarea**/
.disabledTextarea {
  pointer-events: none;
  border: 1px solid #eee;
  padding: 20px;
}

.number-info {
  color: rgb(172, 172, 172);
  font-weight: 100;
}

.number-info span {
  font-size: 50px;
  color: #000;
}
