@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
body {
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.loginContainer {
  background-color: rgba(0, 0, 0, 0.9);
  height: 800px;
  width: 500px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
  background-image: url(logo2.png);
  background-size: cover;
  background-position: bottom -2750px right -200px;
}

.loginText h1 {
  margin-top: 20px;
  color: white;
  font-size: 80px;
  font-weight: 500;
  font-family: Mogra;
}

.loginText p {
  color: white;
  font-size: 20px;
  font-family: Roboto Slab;
  margin-top: 20px;
}

.loginText input {
  color: rgb(20, 19, 19);
  font-family: Roboto Slab;
}

.logo {
}
